{% extends 'base.html.twig' %}

{% block title %}Proyect_One - {{ questions }}{% endblock %}

{% block body %}

<h1>{{ questions }}</h1>

{#<h1>{{ %whatever we need to put% }}</h1>#}

<div>
    This is a new section between divs
</div>

<h2>Respuestas {{ answers | length }}</h2>

<ul>
    {% for answer in answers %}
        <li>{{ answer }}</li>
    {% endfor %}
</ul>

{% endblock %}