{% extends 'base.html.twig' %}

{% block title %}Proyect_One - {{ questions }}{% endblock %}

{% block body %}

<h1 class="d-flex justify-content-center">Su URL es --> <span class="badge badge-secondary">{{ questions }}</span></h1>

{#<h1>{{ %whatever we need to put% }}</h1>#}

<div class="alert alert-primary">
    Este proyecto va a ser un verdadero Exito!
</div>

<h2>Respuestas <span class="badge badge-info">{{ answers | length }}</span></h2>

<ul>
    {% for answer in answers %}
        <li class="alert alert-success w-25 p-3">{{ answer }}</li>
    {% endfor %}
</ul>

{% endblock %}